html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

html {
  overflow-y: scroll; }

html {
  -webkit-font-smoothing: antialiased; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: inherit; }

a:hover, a:active {
  color: #404046;
  text-decoration: underline; }

a:visited {
  color: inherit; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

table {
  font-size: inherit;
  font: 100%; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

input, select {
  vertical-align: middle; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

select, input, textarea {
  font: 99% sans-serif; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer; }

button, input, select, textarea {
  margin: 0; }

button,
input[type=button] {
  width: auto;
  overflow: visible; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

::-moz-selection {
  background: #7597A7;
  text-shadow: none; }

::selection {
  background: #7597A7;
  text-shadow: none; }

a:link {
  -webkit-tap-highlight-color: transparent; }

ins {
  background-color: #000;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #000;
  color: #000;
  font-style: italic;
  font-weight: bold; }

input:-moz-placeholder {
  color: #a9a9a9; }

textarea:-moz-placeholder {
  color: #a9a9a9; }

img {
  display: block; }

.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

body {
  font-family: "Roboto Slab", sans-serif; }

h1 {
  font-size: 2rem; }

h4 {
  margin: 24px 0 6px;
  text-transform: uppercase; }

html {
  color: #4a4a4a;
  font-size: 14px;
  height: 100%; }

img {
  display: block;
  height: auto;
  width: 100%; }

section {
  padding-bottom: 1em; }

.y-overlay {
  background: inherit;
  height: 0px;
  position: fixed;
  top: 0;
  transition: background 0.6s ease-in-out;
  width: 100%;
  z-index: 30; }
  @media only screen and (min-width: 768px) {
    .y-overlay {
      display: none; } }
  .y-overlay.active {
    height: 2000px;
    background: rgba(0, 0, 0, 0.7); }

.y-wrap {
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
  width: 90%; }
  .y-wrap.modify {
    margin-top: 100px; }
  .y-wrap.wide {
    width: 100%; }
    @media only screen and (min-width: 768px) {
      .y-wrap.wide {
        width: 90%; } }

.y-grid {
  display: grid;
  grid-template-columns: 15% 1fr 15%;
  grid-row-gap: 1rem;
  justify-items: center;
  position: relative;
  top: 90px; }

.mobileicon {
  background: none;
  border: 0;
  border-bottom: 4px solid currentColor;
  cursor: pointer;
  outline: 0;
  padding: 0;
  transition: border-bottom 1s ease-in-out;
  -webkit-transition: border-bottom 1s ease-in-out;
  width: 28px; }
  .mobileicon::-moz-focus-inner {
    border: 0;
    padding: 0; }
  .mobileicon.active {
    border-bottom: 4px solid transparent; }
    .mobileicon.active:before {
      transform: rotate(-405deg) translateY(1px) translateX(-3px);
      -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px); }
    .mobileicon.active:after {
      transform: rotate(405deg) translateY(-4px) translateX(-5px);
      -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px); }
  .mobileicon:before {
    content: "";
    display: block;
    border-bottom: 4px solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out; }
  .mobileicon:after {
    content: "";
    display: block;
    border-bottom: 4px solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out; }

@media only screen and (min-width: 768px) {
  .navwrap {
    background: #7A8D96;
    left: 0;
    height: 76px;
    margin: 0 0 24px;
    position: fixed;
    top: 0;
    padding: 16px 0;
    width: 100%;
    z-index: 20; }
    .navwrap:after {
      background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 100%);
      bottom: -13px;
      content: '';
      height: 12px;
      position: absolute;
      width: 100%; } }

.navlogo {
  background: #7A8D96;
  left: 0;
  height: 80px;
  margin: 0 0 24px;
  position: fixed;
  top: 0;
  padding: 16px 0;
  width: 100%;
  z-index: 20; }
  @media only screen and (min-width: 768px) {
    .navlogo {
      background: none;
      border: none;
      display: inline-block;
      margin: 0;
      padding: 0;
      position: static;
      width: calc(20% - 2px); } }
  .navlogo:after {
    background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 100%);
    bottom: -13px;
    content: '';
    height: 12px;
    position: absolute;
    width: 100%; }
    @media only screen and (min-width: 768px) {
      .navlogo:after {
        display: none; } }

.nimg.logo {
  margin-left: 5%;
  width: 60px; }
  @media only screen and (min-width: 768px) {
    .nimg.logo {
      margin-left: 0; } }

.navicon {
  position: fixed;
  right: 5%;
  top: 32px;
  z-index: 50; }
  @media only screen and (min-width: 768px) {
    .navicon {
      display: none; } }

.navname {
  left: 5%;
  position: relative;
  top: 20%; }
  @media only screen and (min-width: 768px) {
    .navname {
      top: 10%; } }

.navitems {
  background: #7A8D96;
  height: 2000px;
  padding: 80px 0 0 26px;
  position: fixed;
  right: -300px;
  top: 0;
  transition: right 0.6s ease-in-out;
  width: 180px;
  z-index: 40; }
  @media only screen and (min-width: 768px) {
    .navitems {
      background: none;
      display: inline-block;
      height: auto;
      padding: 0;
      position: static;
      text-align: right;
      width: calc(80% - 2px); } }
  .navitems.active {
    right: 0; }

.navitems li {
  color: white;
  cursor: pointer;
  margin: 10px 0;
  transition: all 0.3s ease-in-out; }
  @media only screen and (min-width: 768px) {
    .navitems li {
      display: inline-block;
      margin: 0 20px; }
      .navitems li:last-of-type {
        margin-right: 0; } }
  .navitems li:hover {
    color: #404046;
    padding-left: 5px;
    text-decoration: underline; }
    @media only screen and (min-width: 768px) {
      .navitems li:hover {
        padding-left: 0; } }

.imgrow {
  margin: 36px 0;
  text-align: center; }

.nimg.col2 {
  display: inline-block;
  width: 200px; }
  .nimg.col2:first-of-type {
    margin-right: 30px; }

.intro {
  grid-column-start: 2; }

.intro-image {
  width: 200px;
  grid-column-start: 2; }

.intro-bottom {
  grid-column-start: 2;
  text-align: center; }

.bio {
  grid-column-start: 2;
  text-align: center; }

.port-image {
  width: 80%;
  grid-column-start: 2; }

.port-caption {
  grid-column-start: 2;
  text-align: center;
  width: 200px; }

.port-description {
  grid-column-start: 2;
  text-align: center; }

.link-separator {
  display: inline; }

footer {
  background: #7A8D96;
  color: white;
  grid-column: 1 / 4;
  margin-top: 30px;
  padding: 10px 0;
  text-align: center;
  width: 95%; }
