html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

html {
  overflow-y: scroll; }

html {
  -webkit-font-smoothing: antialiased; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: inherit; }

a:hover, a:active {
  text-decoration: none; }

a:visited {
  color: inherit; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

table {
  font-size: inherit;
  font: 100%; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

input, select {
  vertical-align: middle; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

select, input, textarea {
  font: 99% sans-serif; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer; }

button, input, select, textarea {
  margin: 0; }

button,
input[type=button] {
  width: auto;
  overflow: visible; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

::-moz-selection {
  background: thistle;
  text-shadow: none; }

::selection {
  background: thistle;
  text-shadow: none; }

a:link {
  -webkit-tap-highlight-color: transparent; }

ins {
  background-color: #000;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #000;
  color: #000;
  font-style: italic;
  font-weight: bold; }

input:-moz-placeholder {
  color: #a9a9a9; }

textarea:-moz-placeholder {
  color: #a9a9a9; }

img {
  display: block; }

.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

body {
  font-family: "Arial", sans-serif; }

h1 {
  font-size: 3rem; }

h4 {
  color: #555;
  margin: 24px 0 6px;
  text-transform: uppercase; }

html {
  color: #4a4a4a;
  font-size: 14px;
  height: 100%; }
  html.disable {
    overflow: hidden; }

p + p {
  margin-top: 12px; }

.y-overlay {
  background: inherit;
  position: fixed;
  top: 0;
  transition: background 0.6s ease-in-out;
  width: 100%;
  z-index: 4; }
  .y-overlay.active {
    background: rgba(0, 0, 0, 0.7);
    height: 2000px; }

.y-wrap {
  margin: 0 auto;
  position: relative;
  width: 90%; }

.mobile {
  background: none;
  border: 0;
  border-bottom: 4px solid currentColor;
  cursor: pointer;
  outline: 0;
  padding: 0;
  transition: border-bottom 1s ease-in-out;
  -webkit-transition: border-bottom 1s ease-in-out;
  width: 28px; }
  .mobile::-moz-focus-inner {
    border: 0;
    padding: 0; }
  .mobile.active {
    border-bottom: 4px solid transparent; }
    .mobile.active:before {
      transform: rotate(-405deg) translateY(1px) translateX(-3px);
      -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px); }
    .mobile.active:after {
      transform: rotate(405deg) translateY(-4px) translateX(-5px);
      -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px); }
  .mobile:before {
    content: "";
    display: block;
    border-bottom: 4px solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out; }
  .mobile:after {
    content: "";
    display: block;
    border-bottom: 4px solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out; }

.navwrap {
  left: 0;
  margin: 0 0 24px;
  position: fixed;
  top: 0;
  width: 100%; }
  .navwrap.inactive {
    position: relative; }

.nav {
  background: white;
  border: 1px solid #aaa;
  border-top: 8px solid #aaa;
  padding: 12px 0; }
  .nav.inactive {
    background: none;
    border: 1px solid transparent; }

.nimg {
  width: 60px; }
  @media only screen and (min-width: 768px) {
    .nimg {
      display: inline-block; } }
  .nimg.col2 {
    display: inline-block;
    width: 200px; }
    .nimg.col2:first-of-type {
      margin-right: 30px; }
  .nimg.opacity {
    opacity: 0.1; }

img {
  display: block;
  height: auto;
  width: 100%; }

.mobileicon {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 8; }
  @media only screen and (min-width: 768px) {
    .mobileicon {
      display: none; } }

.thebody {
  padding-top: 60px; }

.centergroup {
  margin: 36px 0;
  text-align: center; }

.mobilemenu {
  background: white;
  height: 2000px;
  padding: 130px 60px 24px 24px;
  position: absolute;
  right: -300px;
  top: -68px;
  transition: right 0.6s ease-in-out;
  width: 160px;
  z-index: 6; }
  @media only screen and (min-width: 768px) {
    .mobilemenu {
      bottom: 0;
      height: auto;
      padding: 0;
      right: 0;
      text-align: right;
      top: initial;
      width: auto; } }
  .mobilemenu.active {
    right: 0; }

.mobilemenu li {
  color: inherit;
  cursor: pointer;
  margin: 18px 0;
  transition: all 0.3s ease-in-out; }
  @media only screen and (min-width: 768px) {
    .mobilemenu li {
      display: inline-block;
      margin: 0 20px; }
      .mobilemenu li:last-of-type {
        margin-right: 0; } }
  .mobilemenu li:hover {
    color: crimson;
    padding-left: 5px; }
    @media only screen and (min-width: 768px) {
      .mobilemenu li:hover {
        padding-left: 0; } }
