//------------------------------------------------------------------------------
//  Body
//------------------------------------------------------------------------------
body {
  font-family: $font1;
}



//------------------------------------------------------------------------------
//  Headings
//------------------------------------------------------------------------------
h4 {
  margin: 24px 0 6px;
  text-transform: uppercase;
}



//------------------------------------------------------------------------------
//  HTML
//------------------------------------------------------------------------------
html {
  color: $black80;
  font-size: 14px;
  height: 100%;
  &.disable {
    overflow: hidden;
  }
}



//------------------------------------------------------------------------------
//  Image
//------------------------------------------------------------------------------
img {
  display: block;
  height: auto;
  width: 100%;
}



//------------------------------------------------------------------------------
//  Paragraph
//------------------------------------------------------------------------------
p + p {
  margin-top: 12px;
}
