//------------------------------------------------------------------------------
//  Body
//------------------------------------------------------------------------------
body {
  font-family: $font1;
}


//------------------------------------------------------------------------------
//  Headings
//------------------------------------------------------------------------------
h1 {
  font-size: 3rem;
}

h4 {
  color: #555;
  margin: 24px 0 6px;
  text-transform: uppercase;
}

//------------------------------------------------------------------------------
//  HTML
//------------------------------------------------------------------------------
html {
  color: $black80;
  font-size: 14px;
  height: 100%;
  &.disable {
    overflow: hidden;
  }
}

//------------------------------------------------------------------------------
//  Paragraph
//------------------------------------------------------------------------------
p + p {
  margin-top: 12px;
}
