//------------------------------------------------------------------------------
//  Body
//------------------------------------------------------------------------------
body {
  font-family: $font1;
}


//------------------------------------------------------------------------------
//  Headings
//------------------------------------------------------------------------------
h1 {
  font-size: 3rem;
}

//------------------------------------------------------------------------------
//  HTML
//------------------------------------------------------------------------------
html {
  color: $black80;
  font-size: 14px;
}
