.y-overlay {
  background: inherit;
  height: 2000px;
  position: fixed;
  top: 0;
  transition: background 0.6s ease-in-out;
  width: 100%;
  z-index: 30;
  @include responsive(truman) {
    display: none;
  }
  &.active {
    background: $dark;
  }
}

.y-wrap {
  margin: 0 auto;
  max-width: 1000px;  //c010
  position: relative;
  width: 90%;
  &.modify {
    margin-top: 100px;
  }
  &.wide {  // basically do not limit width until we go wide
    width: 100%;
    @include responsive(truman) {
      width: 90%;
    }
  }
}
