.intro {
  grid-column-start: 2;
}

.intro-image {
  width: 200px;
  grid-column-start: 2;
}

.intro-bottom {
  grid-column-start: 2;
  text-align: center;
}

.bio {
  grid-column-start: 2;
  text-align: center;
}

.port-image {
  width: 80%;
  grid-column-start: 2;
}

.port-caption {
  grid-column-start: 2;
  text-align: center;
  width: 200px;
}

.link-separator {
  display: inline;
}

footer {
  background: #7A8D96;
  color: white;
  grid-column: 1 / 4;
  margin-top: 30px;
  padding: 10px 0;
  text-align: center;
  width: 95%;
}